.html, .body {
  margin: 0;
  padding-left: 10px;
  font-size: 25px;
  max-width: 100%;
  min-height: 100vh;
}

.box {
  font-family: "Raleway", serif;
  position: relative;
  width: 100%;
  min-height: 200px;
  max-height: initial;
  text-align: center;
  font-size: 25px;
}

.box:hover .image {
  opacity: 0.3;
}

.box:hover .middle {
  opacity: 1;
}

.text_desc {
  background-color: inherit;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.title {
  padding: 20px;
  font-size: 60px;
  text-align: center;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.desc {
  font-family: "Raleway", serif;
  font-size: 15px;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  padding: 10px 10px 10px 10px;
}

#about {
  padding-top: 5px;
}

.text {
  padding-left: 5px;
  font-family: "Raleway", serif;
}

.heading {
  font-family: "Raleway", serif;
  font-size: 25px;
}

a { padding-right: 10px; }

.container-quote {
  width:100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.img-quote {
  width: 100%;
  max-height: auto;
}

.quote {
  position: absolute;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  padding-top: 23vh;
  text-align: center;
  width: 90%;
  font-family: "Merriweather";
  font-style: italic;
}

.fa-quote-left, .fa-quote-right {
  padding-top: 125px;
  position: absolute;
}

.my-row {
  padding-top: 10px;
}

.img-responsive {
  /*border-radius: 12%;*/
  /*box-shadow: 0 0 8px 8px #9582b0 inset;*/
  width: 50% !important;
  padding: 10px 10px 10px 10px;
}

.fa, .fab, .fas, .p {
  font-size: 20px;
  padding-right: 5px;
  padding-left: 5px;
}

.fa, .fab, .fas { color: #9582b0; }
