.html, .body {
  margin: 0;
  padding: 0;
}

.heading {
  font-weight: 900;
  font-size: 40px;
  padding-bottom: 40px !important;
  padding-top: -10px !important;
}

sm-heading {
  text-align: center;
  font-weight: 900;
  font-size: 25px;
  padding: 20px 10px 10px 10px;
}

desc {
  padding: 10px 10px 10px 10px;
  font-size: 15px;
}

.container {
  padding: 10px 40px 10px 40px;
}

.row-offers {
  display: table-row;
  background-color: #f4f4f4;
}

.col-md-4 {
  text-align: center;
  display: table-cell;
  padding: 10px;
  border: 1px solid white;
}

.text {
  padding: 5px;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  margin: auto;
  font-family: 'Merriweather', Light Italic;
}

.row-quote {
  display: table-row;
}

.cell {
  display: table-cell;
}

.container-quote {
  width: 85%;
  margin-left: 50px;
  padding: 0px 40px 90px 40px;
}

.row {
  padding: 10px 10px 10px 10px;
}

.img-responsive {
  width: 50% !important;
  padding: 20px 20px 20px 20px;
}

.img-fluid {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 90px;
}
