.container {
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 451px) {
  .pr-2, .pr-3 {
    width: 50%;
  }

  .quote { padding-top: 20vh; }
}

@media screen and (min-width: 551px) {
  .pr-1, .pr-2 {
    width: 50%;
  }

  .pr-3, .pr-4, .pr-5 {
    width: 33.333333%;
  }

  .pr-6 {
    width: 100%;
  }

  .text_desc { font-size: 2vw; }

  .text, .box, .quote { font-size: 3vw; }

  .heading { font-size: 6vw; }

  .title { font-size: 8vw; }
}

@media screen and (min-width: 701px) {
  .container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .box {
    border: solid white 10px;
  }

  .fa, .fab, .far, .p { font-size: 3vw; }
}

@media screen and (min-width: 1201px) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .text_desc { font-size: 30px; }

  .text, .box, .quote { font-size: 35px; }

  .heading { font-size: 65px; }

  .title { font-size: 100px; }

  .container-quote { width: 1200px; margin: auto; }

  footer, .navbar { width: 1200px; margin: auto; }
}

.pr-1 {
  background-color: #2A457A;
  color: #efefef;
}

.pr-2 {
  background-color: #099DD9;
}

.pr-3 {
  background-color: #F79420;
}

.pr-4 {
  background-color: rgb(77, 190, 161);
}

.pr-5 {
  background-color: yellowgreen;
}

.pr-6 {
  background-color: #EC1D3B;
}

.pr-7 {
  background-color:
}
